@{
    Layout = "";
}
<!DOCTYPE html>
@using Globalization.Resources.Shared;
<html>
<head>
    <title>Stipendija - Martynas Šimelis</title>
    <link href="@Links.Content.CSS.print_css" rel="stylesheet" type="text/css" media="print" />
    <link href="@Links.Content.CSS.screen_css" rel="stylesheet" type="text/css" />
    <link href="@Links.Content.CSS.site_css" rel="stylesheet" type="text/css" />
    <!--[if lt IE 8]><link rel="stylesheet" href="@Links.Content.CSS.ie_css" type="text/css" media="screen, projection"><![endif]-->
    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-266484-11']);
        _gaq.push(['_trackPageview']);

        (function () {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>
</head>
<body>
    <div class="background_green">
    </div>
    <div class="background_lightgreen">
    </div>
    <div class="container">
        <div id="header" class="span-24 last">
            <h2 style="color: White;">
                Martynas Šimelis
            </h2>
        </div>
        <div id="left_nav" class="span-4">
            <ul class="main_nav">
                <li>@Html.ActionLink("Stipendija", MVC.Martynas_Simelis.Award())</li>
                <li>@Html.ActionLink("Biografija", MVC.Martynas_Simelis.Biography())</li>
                <li>@Html.ActionLink("Darbai", MVC.Martynas_Simelis.Portfolio())</li>
            </ul>
        </div>
        <div id="main" class="span-20 last">
            <div class="in_brd page_content">
                <h2 class="heading">
                    Martyno Šimelio vardo stipendijos nuostatai</h2>
                <div style="height: 15px;">
                </div>
                <div style="float: left; margin-right: 20px;">
                    <img src="@Links.Content.Images.Martynas.martynas_simelis_jpg" width="200px" alt="Martynas Šimelis" />
                </div>
                <p>
                    Martynas Šimelis – vienas gabiausių savo kartos odontologų, mikroskopijos odontologijoje
                    pradininkas Lietuvoje. Būdamas 27 m. jis skaitė paskaitas KMU studentams, pranešimus
                    tarptautinėse konferencijose. Būdamas vienas perspektyviausių ir ambicingiausių
                    savo srities specialistų, jis demonstravo pavyzdines charakterio savybes - daugelis
                    žmonių žavėjosi jo didžiule aistra darbui ir gyvenimui, išradingumu, užsidegimu,
                    bei sugebėjimu išlikti paprastu, ramiu ir rūpestingu. Martynas Šimelis žuvo 2010
                    m. balandžio 11 d., nesulaukęs nė 28 metų. Jo vardo stipendija skirta didžiausius
                    gabumus parodžiusiam odontologijos studentui (-ei), savo darbais bei būdo savybėmis
                    besilygiuojančiam (-iai) į Martyną.
                </p>
                <div class="clear">
                </div>
                <br />
                <ul style="list-style-type: disc; margin-left: 20px;">
                    <li>Martyno Šimelio stipendijos steigėjas ir mecenatas yra jo brolis Donatas Šimelis.</li>
                    <li>Martyno Šimelio stipendijos įsteigimas patvirtinamas stipendijos steigėjo ir mecenato
                        bei Lietuvos sveikatos mokslų universiteto (toliau – LSMU) Rektoriaus sutarimu.</li>
                    <li>Martyno Šimelio stipendija teikiama Odontologijos fakulteto 1-5 kurso studentams.</li>
                    <li>Martyno Šimelio stipendijos konkursinę komisiją sudaro jo draugai ir kolegos. Stipendija
                        skiriama komisijos nutarimą patvirtinus stipendijos steigėjui.</li>
                    <li>Martyno Šimelio stipendija iškilmingai teikiama vieną kartą per metus, komisijos
                        nustatytą dieną.</li>
                    <li>Informacija apie konkursą stipendijai gauti, stipendijos teikimo dieną bei stipendijos
                        dydį kasmet viešai skelbiama universitete, likus ne mažiau nei 6 mėn. iki stipendijos
                        teikimo dienos. Pretendentai atlieka tiriamąjį darbą ir nustatytą stipendijos teikimo
                        dieną pristato komisijai jo rezultatus. Stipendija teikiama kūribingiausio ir išradingiausio
                        darbo autoriui.</li>
                    <li>Informacija apie stipendiatą (-ę) viešinama LSMU skelbimų lentoje, internete, žiniasklaidoje.</li>
                    <li>Martyno Šimelio stipendiją stipendiatui(-ei) sumoka steigėjas ir mecenatas.</li>
                    <li>Martyno Šimelio stipendijos dydis yra ne mažiau vieno tūkstančio litų (1000 Lt).
                        Konkreti suma yra nustatoma ir paskelbiama kiekvienais metais.</li>
                    <li>Martyno Šimelio stipendijos galiojimo laikas neribotas.</li>
                </ul>
            </div>
        </div>
        <div class="span-24 last">
        </div>
    </div>
</body>
</html>
