@model Data.ViewModels.Organization.Project.SettingsModel
@{
    ViewBag.Title = Model.Subject + " - " + Resource.PageTitleSettings;
}
@using Data.Enums
@using Globalization.Resources.Organization.Project
@using Globalization.Resources.Shared
@using Web.Helpers
@using Globalization.Resources.Shared
@using Framework.Strings;
@section Head
{
}
@section Scripts
{
    @Html.RegisterCkeditorScripts()
    <script type='text/javascript'>
        function onPageLoad() {
            $('.richtexteditor').richtext();
            $('#lnkDeleteProject').confirmDelete();
        }
    </script>
}
<h3>
    @Html.Raw(string.Format(Resource.OrganizationProject, Html.ActionLink(Model.OrganizationName, MVC.Organization.Details(Model.OrganizationId, Model.OrganizationName.ToSeoUrl(), OrganizationViews.Projects, null, null, null)), Model.Subject))
</h3>
<br />
@{Html.RenderPartial(MVC.Organization.Views.Project.Menu, Model.Id, new ViewDataDictionary() { { "index", "1" }, { "isEditable", Model.IsEditable }, { "OrganizationId", Model.OrganizationId } });}
<br />
@if (Model.IsEditable)
{
    <div>
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(m => m.Id)
            <table id="settings">
                <tr>
                    <th>@Html.LabelFor(m => m.Subject, Resource.ProjectName)</th>
                    <td>
                        @Html.TextBoxFor(m => m.Subject, new { @class = "" })
                        @Html.ValidationMessageFor(m => m.Subject)
                    </td>
                </tr> 
                <tr>
                    <th>@Html.LabelFor(m => m.State, Resource.ProjectState)</th>
                    <td>
                        @for (int i = 0; i < Model.ProjectStates.Count; i++)
                        {
                            <div>
                                @Html.RadioButtonFor(m => m.State, Model.ProjectStates[i].Value)
                                @Model.ProjectStates[i].Text
                            </div>
                        }
                    </td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.Description, Resource.StateDescription)</th>
                    <td>@Html.TextAreaFor(m => m.Description, new {@class = "txt_prDescription richtexteditor"})
                        @Html.ValidationMessageFor(m => m.Description)</td>
                </tr>
                <tr>
                    <th>@Html.LabelFor(m => m.IsPrivate, Resource.IsPublic)</th>
                    <td>@Html.CheckBoxFor(m => m.IsPrivate) @Resource.IsPrivate</td>
                </tr>
                <tr>
                    <th>@SharedStrings.Delete</th>
                    <td>@Html.ActionLink(Resource.DeleteProject, MVC.Organization.DeleteProject(Model.OrganizationId, Model.Id), new { id = "lnkDeleteProject"})</td>
                </tr>
                <tr>
                    <td>
                 
                    </td>
                    <td>
                        @Html.Buttons()
                    </td>
                </tr>
            </table>
        }
    </div>
}
