@model Data.ViewModels.NewsFeed.StartPageModel
@{
    ViewBag.Title = "";
    Layout = "~/Views/Shared/_LayoutFront.cshtml";
}
@using Data.Enums
@using Data.ViewModels.Account
@using Framework.Strings;
@using Globalization.Resources.NewsFeed;
@using Globalization.Resources.Shared
@using Services.Enums
@using Web.Helpers
@section Head
{
    <style type="text/css">
        .background_landing {
            background-image: url('@Model.ImageUrl');
        }
    </style>
    <title>@Resource.Slogan</title>
}
@section Scripts
{
    <script type='text/javascript'>
        function onPageLoad() {
            $('#listIdeas').voting({
                isAmbasador: @ViewBag.CurrentUser.CanPostToFacebook.ToString().ToLower(),
                supportMessage: '@ViewBag.CurrentUser.SupportedIdeaText',
                facebookUrl: '@Url.ActionAbsolute(MVC.Idea.Details())' + '/{0}',
                forceFbLogin: @(ViewBag.CurrentUser.PostPermissionGranted ? "false" : "true")
                });

            $('#listVoting').voting({
                isAmbasador: @((ViewBag.CurrentUser.CanPostToFacebook && ViewBag.CurrentUser.IsUnique).ToString().ToLower()),
                supportMessage: '@ViewBag.CurrentUser.VotedText',
                facebookUrl: '@Url.ActionAbsolute(MVC.Voting.Details())' + '/{0}',
                forceFbLogin: @(ViewBag.CurrentUser.PostPermissionGranted ? "false" : "true")
                });

            $('#listIdeas, #listVoting').on('click', 'a[data-role="tab-link"]', function(e) {
                var link = $(this);
                $.helpers.loadAsync(e, link.attr('href'), null, function(result) {
                    link.parents('.whatsnew').html(result.Content);
                });

                return $.helpers.cancelEvent(e);
            });
            $('#listIdeas').showmore({ linkSelector: '#lnkShowMoreIdeas', listSelector: '#listIdeas'});
            $('#listIssues').showmore({ linkSelector: '#lnkShowMoreIssues', listSelector: '#listIssues'});
            
            CreateAjaxDialog('a.lnkUsers', '@Globalization.Resources.Idea.Resource.SignersList');

            $('#dialog-Facebook').dialog({
                resizable: false,
                height: 110,
                width: 320,
                modal: true,
                autoOpen: false
            });

            openid.img_path = '@Links.Content.Images.OpenID.images.Url()' + '/';
            openid.no_sprite = true;
            openid.init('loginIdentifier');
        }
    </script>
}
@{Html.RenderPartial(MVC.Shared.Views.LoginFb);}

<h3 class="text-muted definition">@Resource.LT2Definition <a href="@Url.Action(MVC.About.About())">@Resource.AboutMore</a></h3>
<div class="clearfix landingList">
    <div class="span12" id="listIdeas">
        <div class="ac mb-lg">
            <a class="type-title-link" href="@Url.Action(MVC.Idea.Index())">
                <i class="text-xlg" data-icon="i"></i>
                <h4 class="type-title"><span class="block-inline">@Menu.Ideas</span></h4>
            </a>
            <p class="desc">
                @Resource.IdeaDescription
            </p>
        </div>
        @Html.Partial(MVC.NewsFeed.Views.DashboardIdeas, Model.Ideas)
    </div>
    <div class="span12" id="listVoting">
        <div class="ac mb-lg">
            <a class="type-title-link" href="@Url.Action(MVC.Voting.Index())">
                <i class="text-xlg" data-icon="v"></i>
                <h4 class="type-title"><span class="block-inline">@Menu.Issues</span></h4>
            </a>
            <p class="desc">
                @Resource.VotingDescription
            </p>
        </div>

        @Html.Partial(MVC.NewsFeed.Views.DashboardIssues, Model.BestIssues)
    </div>
</div>
<div class="clearfix landingList">
    <div class="span12">
        <div class="ac mb-lg">
            <a class="type-title-link" href="@Url.Action(MVC.Idea.Index())">
                <i class="text-xlg" data-icon="i"></i>
                <h4 class="type-title"><span class="block-inline">@Resource.IdeasTitle</span></h4>
            </a>
            <p class="desc">
                @Resource.IdeaBottomDescription
            </p>
        </div>
    </div>
    <div class="span12">
        <div class="ac mb-lg">
            <a class="type-title-link" href="@Url.Action(MVC.Voting.Index())">
                <i class="text-xlg" data-icon="v"></i>
                <h4 class="type-title"><span class="block-inline">@Resource.VotingTitle</span></h4>
            </a>
            <p class="desc">
                @Resource.VotingBottomDescription
            </p>
        </div>
    </div>
</div>
@if (TempData["OpenAdditinalUniqueInfoDialog"] != null)
{
    @Html.Partial(MVC.Account.Views.AdditionalUniqueInfo, (AdditionalUniqueInfoModel)TempData["OpenAdditinalUniqueInfoDialog"])
    <script type="text/javascript">
        $(document).ready(function () {
            $.helpers.openAdditionalUniqueInfoForm();
        });
    </script>
}
