@using Globalization.Resources.Account
@using Web.Helpers
@model Data.ViewModels.Account.ChangePasswordModel

@{
    ViewBag.Title = Resource.ChangePassword;
}
@section Scripts
{
}
<h2 class="heading">@Resource.ChangePassword</h2>

@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <div>
        <fieldset>
            <div class="editor-label">
                @Html.LabelFor(m => m.OldPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.OldPassword)
                @Html.ValidationMessageFor(m => m.OldPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.NewPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.NewPassword)
                @Html.ValidationMessageFor(m => m.NewPassword)
            </div>

            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword)
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>

            <p>
                @Html.Buttons(2)
            </p>
        </fieldset>
    </div>
}
