@model Data.ViewModels.Account.EducationAndWorkEditModel
@using Globalization.Resources.Account
@using Globalization.Resources.Shared
<div class='fields_container @Model.Positions[Model.EditIndex].IsCurrentClass'>
    <p class="uiblock">
    <span class="block">@Resource.Workplace</span>
    @Html.TextBoxFor(m => m.Positions[Model.EditIndex].CompanyName, new { @class = "txt_l" })
    </p>
    <p class="uiblock">
    <span class="block">@Resource.Position</span>
    @Html.TextBoxFor(m => m.Positions[Model.EditIndex].Title, new { @class = "txt_m" })
    </p>
    <p class="uiblock"><br /><a href="javascript:void(0)" class="delete">@SharedStrings.Delete</a></p>
    <div class="clear"></div>
    <p class="uiblock">
        <label style="font-weight: normal;"> 
        @Html.CheckBoxFor(m => m.Positions[Model.EditIndex].IsCurrent, new Dictionary<string, object> { { "class", "chkcurrent" } })
        @Resource.CurrentPosition
        </label>
        @Html.HiddenFor(m => m.Positions[Model.EditIndex].Id)
        @Html.HiddenFor(m => m.Positions[Model.EditIndex].IsDeleted, new { @class = "hiddenIsDeleted" })
    </p>
    <div class="clear">
    </div>
    <p class="uiblock">
        <span class="block">@Resource.From</span>
        @Html.DropDownListFor(m => m.Positions[Model.EditIndex].StartYear, new SelectList(Model.WorkYears as System.Collections.IEnumerable, "Value", "Text",
                                                                           Model.Positions[Model.EditIndex].StartYear))
        @Html.ValidationMessageFor(m => m.Positions[Model.EditIndex].StartYear)
        @Html.DropDownListFor(m => m.Positions[Model.EditIndex].StartMonth, new SelectList(Model.Months as System.Collections.IEnumerable, "Value", "Text",
                                                                                    Model.Positions[Model.EditIndex].StartMonth))
    </p>
    <p class="uiblock enddate">
        <span class="block">@Resource.To</span>
            @Html.DropDownListFor(m => m.Positions[Model.EditIndex].EndYear, new SelectList(Model.WorkYears as System.Collections.IEnumerable, "Value", "Text",
                                                                                    Model.Positions[Model.EditIndex].EndYear))
            @Html.DropDownListFor(m => m.Positions[Model.EditIndex].EndMonth, new SelectList(Model.Months as System.Collections.IEnumerable, "Value", "Text",
                                                                                             Model.Positions[Model.EditIndex].EndMonth))
            @Html.ValidationMessageFor(m => m.Positions[Model.EditIndex].EndYear)
        <span class="present">
            @Resource.ToPresent
        </span>
    </p>
    <hr />
    <div class="clear">
    </div>
</div>
