@model Data.ViewModels.Account.UserCreateModel
@using Globalization.Resources.Account
@using Web.Helpers;
@{
    ViewBag.Title = Resource.PageTitleRegister;
}
@section Scripts
{
}
<h2 class="heading">@Resource.FormHeader</h2>
<p>
    @string.Format(Resource.PasswordLength, Model.MinPasswordLength)
</p>
@{ var isUnique = ViewBag.CurrentUser.IsUnique && !ViewBag.CurrentUser.IsViispConfirmed;}
@using (Html.BeginForm())
{
    @Html.ValidationSummary(true)
    <div>
        <fieldset>
            <legend>@Resource.Legend</legend>
            <div class="editor-label">
                @Html.LabelFor(m => m.FirstName)
            </div>
            <div class="editor-field">
                @if (isUnique)
                {
                    @Model.FirstName
                    @Html.HiddenFor(m => m.FirstName)
                }
                else
                {
                    @Html.TextBoxFor(m => m.FirstName)
                    @Html.ValidationMessageFor(m => m.FirstName)
                }
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.LastName)
            </div>
            <div class="editor-field">
                @if (isUnique)
                {
                    @Model.LastName
                    @Html.HiddenFor(m => m.LastName)
                }
                else
                {
                    @Html.TextBoxFor(m => m.LastName)
                    @Html.ValidationMessageFor(m => m.LastName)
                }
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.UserName)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.UserName)
                @Html.ValidationMessageFor(m => m.UserName)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.Email)
            </div>
            <div class="editor-field">
                @Html.TextBoxFor(m => m.Email)
                @Html.ValidationMessageFor(m => m.Email)
            </div>
            <label class="normal" style="margin-bottom: 6px;">
                @Html.CheckBoxFor(m => m.SendMail)
                @Resource.SendMail
            </label>
            <div class="editor-label">
                @Html.LabelFor(m => m.Password)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.Password, new { autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.Password)
            </div>
            <div class="editor-label">
                @Html.LabelFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.PasswordFor(m => m.ConfirmPassword, new { autocomplete = "off" })
                @Html.ValidationMessageFor(m => m.ConfirmPassword)
            </div>
            <div class="editor-field">
                @Html.GenerateCaptcha()
            </div>
            <p>
                @Html.Buttons(2, Url.Action(MVC.Account.Login()), Resource.Register)
            </p>
        </fieldset>
    </div>
    @Html.HiddenFor(m => m.ReturnTo)
}
